<?xml version="1.0" encoding="utf-8"?>
<RuleSet ToolsVersion="10.0"
	Name="Template for custom ruleset"
	Description="This template includes everything (including SDL ruleset, if enabled) but the rules that are explicitly disabled.">

	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">

		<Rule Id="CA3102" Action="None" /> <!-- Avoid enabling debug attribute in <compilation> element -->
		<Rule Id="CA3103" Action="None" /> <!-- Always enable requireSSL attribute in <forms> element.-->
		<Rule Id="CA3113" Action="None" /> <!-- Always encrypt database connection strings using an approved algorithm.-->
		<Rule Id="CA3114" Action="None" /> <!-- enable custom errors to return generic error information -->
		<Rule Id="CA3115" Action="None" /> <!-- DenyUnauthorizedUsers -->
		<Rule Id="CA3116" Action="None" /> <!-- DenyUnauthorizedUsers -->
		<Rule Id="CA3119" Action="None" /> <!-- Always enable requireSSL attribute in <httpCookies> element-->
		<Rule Id="CA3120" Action="None" /> <!-- Always enable httpOnlyCookies attribute in <httpCookies> element-->
		<Rule Id="CA2000" Action="None" /> <!-- Dispose objects before losing scope -->
		<Rule Id="CA2213" Action="None" /> <!-- Disposable fields should be disposed -->
		<Rule Id="CA5354" Action="None" /> <!-- Microsoft.Security.Cryptography : SHA-2 (SHA256, SHA384, SHA512) must be used -->
		<Rule Id="CA5350" Action="None" /> <!-- Microsoft.Security.Cryptography : SHA-2 (SHA256, SHA384, SHA512) must be used -->

		<!-- CA violations that surfaced after upgrading FxCop to 7.0.1. Need to address them later. -->
		<Rule Id="CA1305" Action="None" /> <!-- Microsoft.Globalization : Specify CultureInfo on string.Format.-->
		<Rule Id="CA3053" Action="None" /> <!-- System.Xml.XmlReader.Create(System.IO.TextReader), an overload which does not accept an explicit XmlReaderSettings argument. This usage is potentially unsafe as untrusted external resources may be resolved during read operations. Provide a XmlReaderSettings instance and set the XmlResolver property to null or an instance of XmlSecureResolver. -->

	</Rules>
</RuleSet>
